<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- ================================= -->
<!-- ================================= -->
<!-- ================================= -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/uswds/css/styles.css" | relative_url }}?{{site.time | date: '%s%N'}}">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.9.0/css/uswds.min.css" integrity="sha512-1JfROzJI5km8+inC3KrHAsJ4Ufjl2nD7/TbCBXoMUeXi0LIAZntfLQr2S6ifV0lCuO0mWOOlNJNTgKzkj7b7wA==" crossorigin="anonymous" /> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="preload" href="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}" as="script">
</head>

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>


  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            <img class="usa-banner__header-flag" src={{ "/assets/uswds/img/us_flag_small.png" | relative_url }} alt="U.S. flag">
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text">An official website of the United States government</p>
            <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
          </div>
          <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src={{ "/assets/uswds/img/icon-dot-gov.svg" | relative_url }} alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src={{ "/assets/uswds/img/icon-https.svg" | relative_url }} alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>The site is secure.</strong>
              <br>
              The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended"><div class="usa-navbar">
  <div class="usa-logo" id="extended-logo">
    <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">{{ site.title }}</a></em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>
<nav aria-label="Primary navigation" class="usa-nav">
  <div class="usa-nav__inner"><button class="usa-nav__close"><img src={{ "/assets/uswds/img/close.svg" | relative_url }}
        alt="close"></button>
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <button class="usa-button usa-nav__link">
          <span>Home</span>
        </button>
      </li>
      {% assign primary_links = site.data.links | where: "type", "primary" %}
      {% for link in primary_links %}
      {% assign current_parent = link.name %}
      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
          aria-controls="{{ link.name }}"><span>{{ link.name }}</span></button>
        <ul id="{{ link.name }}" class="usa-nav__submenu">
          {% assign secondary_links = site.data.links | where: "parent", current_parent %}
          {% for link in secondary_links %}
          <li class="usa-nav__submenu-item">
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <div class="usa-nav__secondary">
      <ul class="usa-nav__secondary-links">
        {% assign utility_links = site.data.links | where: "type", "utility" %}
        {% for link in utility_links %}
        <li class="usa-nav__secondary-item">
          <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <form class="usa-search usa-search--small ">
        <div role="search">
          <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
          <input class="usa-input" id="extended-search-field-small" type="search" name="search">
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </div>
      </form>
    </div>
  </div>
</nav>
</header>




<main id="main-content">

